<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstPage</title>
</head>
<body>
    <h1>Wellcome to My FirstApp</h1>
    <p><a href="/home">Back to HOMEPAGE</a></p>
    <p><a href="{% url 'image_upload' %}">Detect Your TrashImages</a></p>
    <p><h1>Pengiriman data ke HTML</h1></p>
    <hr>
    <li>{{ Plastic }}</li>
    <li>{{ Organic }}</li>
    <li>{{ Alumunium }}</li>
</body>
</html>