{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form><hr>
    <h1>{{ pred }}</h1>
    {% if obj %}
        <img src="{{ pred }}" alt="{{ pred }}">
    {% endif %}
</body>
</html> {% endcomment %}



<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort Your Trash</title>
    <link rel="stylesheet" href="{% static 'css/sort.css' %}">
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form><hr>
    <h1>{{ pred }}</h1>
    {% if obj %}
    <div class="image-container">
        <img src="{{ pred }}" alt="{{ pred }}">
    </div>
    {% endif %}
</body>
</html> 